*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    background-image: url('real.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2f4858;   
    background-color: rgba(211, 199, 199, 0.6);
    z-index: -1;
}
/* #2f4858 */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 199, 199, 0.5); /* Adjust transparency */
    z-index: -1;
}

.title-container {
    width: 460px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009292;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.input-container {
    width: 60%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #eaeaea;          
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
/* #eaeaea */
.input-title {
    height: 40px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6699cc;
    background-color: #6699cc;
    color: #fff275;
    border-radius: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#imageInput {
    height: 40px;
    width: 170px;
    background-color: #6699cc;
    color: #fff275;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.file-input {
    border-radius: 1rem;
    padding: 10px;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.file-input:hover {
    background-color: #ff8c42;
}
#imageInput:hover{
    color: #a23e48;
}

#uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #6699cc;
    border-radius: 20px;
    background-color: #6699cc;
    color: #fff275;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height: 40px;
    width: 140px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#uploadBtn:hover {
    color: #a23e48;
    transform: scale(1.03);


}
#uploadBtn:active { 
    transform: scale(0.97); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* Lowering the shadow */ 
}

.output-container {
    width: 80%;
    max-width: 450px;
    margin: 10px auto;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.output{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#result {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #6699cc;
    background-color: #6699cc;
    color: #fff275;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
    margin-top: 20px;
    
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px  0.5px  0px  rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}

#percentageText {
    font-weight: 600px;
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 4s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    .input-container, .output-container {
        width: 80%;
    }
    .title-container {
        width: 100%;
    }
}

#number{
    font-weight: 600px;
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
 #quality{
    margin-top: 25px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #6699cc;
    background-color: #6699cc;
    color: #fff275;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
 }
